{% if user == None %}
  <div class="userBadge d-flex align-items-center">
    <a class="nav-link userBadge-link" href="#" onclick="return false;">
      <div class="userBadge-avatar me-1">
        <i class="userBadge-avatar-fas fas fa-user-circle"></i>
      </div>
      <span class="userBadge-name">Unknown</span>
      <div class="userBadge-dot-box">
        <span class="userBadge-dot rounded-circle bg-secondary" title="未知"></span>
      </div>
    </a>
  </div>
{% else %}
  <div class="userBadge d-flex align-items-center">
    <a class="nav-link userBadge-link" href="{{ url_for('auth.profile', user_id=user.id) }}">
      <div class="userBadge-avatar me-1">
        {% if user and user.avatar_path %}
          <img class="userBadge-avatar-img" src="{{ url_for('auth.user_avatar', filename=user.avatar_path) }}" />
        {% else %}
          <i class="userBadge-avatar-fas fas fa-user-circle"></i>
        {% endif %}
        <div class="userBadge-dot-box">
          {% if user.role == 0 %}
            <span class="userBadge-dot rounded-circle bg-info" title="游客"></span>
          {% elif user.role == 1 %}
            <span class="userBadge-dot rounded-circle bg-primary" title="成员"></span>
          {% elif user.role == 2 %}
            <span class="userBadge-dot rounded-circle bg-warning" title="管理员"></span>
          {% elif user.role == 3 %}
            <span class="userBadge-dot rounded-circle bg-danger" title="超级管理员"></span>
          {% else %}
            <span class="userBadge-dot rounded-circle bg-secondary" title="未知"></span>
          {% endif %}
        </div>
      </div>
      <span class="userBadge-name">
        {% if user %}
          {{ user.username }}
        {% else %}
          Unknown
        {% endif %}
      </span>
    </a>
  </div>
{% endif %}
