/* 按钮 */
.btn-action {
    border-color: var(--github-border);
    color: var(--github-text-secondary);
    background-color: transparent;
}

.btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--github-accent);
    border-color: var(--github-accent);
}

.btn-outline-primary:hover {
    background-color: rgba(88, 166, 255, 0.1);
    color: var(--github-primary);
    border-color: var(--github-primary);
}

.btn-icon {
    background: transparent;
    border: none;
    color: var(--github-text-secondary);
}

.btn-icon:hover {
    color: var(--github-accent);
}

/* 自定义关闭按钮样式 */
.btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.btn-close.custom-close {
    background: transparent url("../img/close.svg") center/1em auto no-repeat;
    opacity: 0.8;
    filter: brightness(1.5);
    width: 1.5em;
    height: 1.5em;
    padding: 0.5rem;
    transition: opacity 0.2s;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
}

.btn-close.custom-close:hover {
    opacity: 1;
    background: transparent url("../img/close.hover.svg") center/1em auto no-repeat;
}