<!-- 贡献墙 -->
<div class="card mb-4">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0" id="Contributions"><i class="fas fa-chart-area"></i> 贡献墙</h5>
    <button class="btn btn-primary btn-sm" id="showBtn" onclick="handleRender()"><i class="fa-solid fa-arrows-rotate"></i> 刷新贡献墙</button>
  </div>
  <div class="card-body">
    <!-- 用户信息 TODO: 转移到设置 -->
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="userInput" class="form-label fw-bold">GitHub 用户名</label>
        <div class="input-group">
          <span class="input-group-text bg-dark"><i class="fab fa-github"></i></span>
          <input type="text" class="form-control" id="userInput" name="github_username" placeholder="GitHub 用户名" />
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label for="tokenInput" class="form-label fw-bold">个人访问令牌</label>
        <div class="input-group">
          <span class="input-group-text bg-dark"><i class="fas fa-key"></i></span>
          <input type="password" class="form-control" id="tokenInput" name="github_token" placeholder="个人访问令牌 (ghp_xxx)" />
        </div>
      </div>
    </div>

    <!-- 贡献墙 -->
    <div class="row">
      <div class="col-md-12" style="overflow: auto;">
        <div id="wall" class="grid" style="position: relative"></div>
      </div>
    </div>

    <!-- 图例 -->
    <div class="legend">
      <span>Less</span>
      <div class="legend-item">
        <div class="legend-color" style="background-color: rgba(40, 42, 43, 0.8)"></div>
      </div>
      <div class="legend-item">
        <div class="legend-color" style="background-color: rgba(56, 102, 65, 0.7)"></div>
      </div>
      <div class="legend-item">
        <div class="legend-color" style="background-color: rgba(33, 110, 57, 0.9)"></div>
      </div>
      <div class="legend-item">
        <div class="legend-color" style="background-color: rgba(48, 161, 78, 0.8)"></div>
      </div>
      <div class="legend-item">
        <div class="legend-color" style="background-color: rgba(64, 196, 99, 0.7)"></div>
      </div>
      <span>More</span>
    </div>
  </div>
</div>

<!-- 附属脚本 -->
<script src="{{ url_for('static', filename='js/profile/GreenWall.js') }}"></script>
